/* CSS Custom Properties 
-----------------------------------------------------------------------------*/

:root {
  --clr-black: #181818;
  --clr-accent1: #E1E2D7;
  --clr-accent2: #1b4174;
  --clr-bg-1: #F7F7F4;
  --clr-bg-2: #E8EDF5;
  --clr-bg-main: #F7F8F5;

  --wid-max: 1080px;
  --wid-med: 810px;
}

/* Fonts 
-----------------------------------------------------------------------------*/
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v20-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-v20-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v20-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-v20-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-900.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* ELEMENTALS 
-----------------------------------------------------------------------------*/

body {
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: var(--clr-black);
}

h1 {
  color: var(--clr-accent2);
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  line-height: 1.4;
}

h2 {
  color: var(--clr-accent2);
  font-size: 3rem;
  font-weight: 300;
  grid-column: span 3 / -1;
  line-height: 1;
  /* margin-bottom: 0.5rem; */
  text-transform: uppercase;
}

h3 {
  color: var(--clr-accent2);
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

/*----------------------------------------------------------------------------*/
/* NAVBAR 
-----------------------------------------------------------------------------*/

.nav-container {
  width: 100%;
  background-color: var(--clr-accent1);
  background-image: linear-gradient(var(--clr-bg-main), var(--clr-accent1));
  position: fixed;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
}

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: var(--wid-max);
  margin: 0rem auto;
}

.logo {
  /* border: 1px solid red; */
  grid-column: 1;
  margin: 2rem;
}

.menu {
  /* border: 1px dashed blue; */
  align-self: flex-end;
  padding: 0;
  margin: 2rem;
}

.menu a {
  /* border: 1px solid red; */
  color: var(--clr-accent2);
  font-size: 1rem;
  margin: 0 0 0 .5rem;
  padding: .5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: var(--clr-bg-main);
  border-radius: 1.5rem;
  /* color: rgb(255, 255, 255); */
}

.menu a:last-child {
  background-color: var(--clr-accent1);
  border-radius: 1.5rem;
  color: #8b8b8b;
  user-select: none;
  cursor: default;
}

.menu a:last-child .tooltiptext {
  background-color: var(--clr-accent2);
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  padding: .5rem;
  position: absolute;
  top: 80%;
  right: 10%;
  text-align: center;
  text-transform: none;
  visibility: hidden;
  width: 240px;
  z-index: 1;
}

.menu a:last-child:hover .tooltiptext {
  visibility: visible;
}

/*----------------------------------------------------------------------------*/



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*----------------------------------------------------------------------------*/

.wrapper {
  display: grid;
  background-color: var(--clr-bg-main);
  background-image: url(../img/svg/f3-background.svg);
  background-size: contain;
  max-width: var(--wid-max);
  margin: 0 auto;
}

.hero {
  align-items: center;
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 1.75rem 5rem 0 1.75rem;

}

.hero img {
  max-width: 350px;
}

section {
  align-items: center;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.75rem 1.75rem 0 1.75rem;
}

.texte {
  grid-column: span 2;
}

.f3heavy {
  font-weight: 900;
}

.f3light {
  font-weight: 400;
}



footer {
  background-color: var(--clr-accent2);
  color: var(--clr-bg-2);
  display: grid;
  font-weight: 300;
  font-size: 1rem;
  padding: .5rem;
  place-items: center;
}
