
.nav-container {
  width: 100%;
  background-color: cornflowerblue;
}

nav {
  max-width: 1080px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto;
}

.logo {
  grid-column: 1;
  margin: 1rem;
}

.menu {
    align-self: end;
    margin: 1rem;
}

.menu a {
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(1, 1, 73);
}

.menu a:hover {
    opacity: .5;
}